body{
    margin: 10px;
    padding: 100px;
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}
#username{
    margin: 0px;
}
#password
{
    margin: 0px;
}
input{
    width: 200px;
    margin: 10px 0px;
    padding: 10px;
}
#form-container
{
    width: 300px;
    height: 260px;
    background-color: black;
    text-align: center;
    border: 5px solid white;
    color: orange;
}
button{
    background-color: white;
    display: flex;
    margin-left: 120px;
    color: black;
}
.error
{
    color: red;
    text-align: left;
    margin: 5px;
    margin-left: 41px;
}